.controllers-info {
	margin-bottom: 16px;
}

.upload-text{
	&.dark {
        color: var(--color-neutral-color-pure-white);
    }
    &.light {
        color: var(--color-neutral-color-pure-black);
    }
}