.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:32px;
}

.text {
    text-align: center;
    margin-block: 32px;
}

.logo-image {
    max-width: 500px;
    height: auto;
    @media screen and (max-width: 850px) {
        display: none;
    }
    &.dark{
        filter: drop-shadow(0 0 0.75rem var(--color-neutral-color-grey1)) ;

    }
    &.light{
        filter:  drop-shadow(0 0 0.75rem var(--color-neutral-color-grey5));

    }
}