.logo-container {
    padding-inline: 16px;
    padding-block: 14px;
}

.logo {
    text-align: center;
    margin: 19px;
    cursor: pointer;
    font-family: Poppins, "Fira Code", Poppins;
    font-size: 30px;
    line-height: 36px;
    unicode-bidi: isolate;
    font-weight: bold;
    font-feature-settings: normal;
    font-variation-settings: normal;
    // color: white;
}

.header {
    display: flex;
}
