.breadcrumb {
	margin: 16px 16px;
}

.container {
	min-height: 100vh;
}

.header {
	padding: 0;
}

.characters {
	display: flex;
	margin: 16px;
	padding: 8px;
}

.characters-container {
	display: flex;
	width: 945px;
}

.character {
	width: 125px;
	height: 160px;
	margin: 5px;
}

.character-info {
	margin: 16px;
	padding: 8px;
}

.include-characters {
	width: 125px;
	height: 160px;
	background-color: black;
	font-size: 72px;
	text-align: center;
	color: white;
}

.background-container {
	margin: 16px;
	padding: 8px;
}

.preview-container {
	margin: 16px;
	padding: 8px;
}

.preview-characters {
	position: relative;
	top:0;
	display: flex;
	flex-wrap: wrap;
	width: 875px;
	height: 640px;
	align-content: flex-start;
}

.preview-character {
	width: 125px;
	height: 160px;
}

.container-toolkit {
	display: flex;
	flex-wrap: wrap;
}

.background-preview {
	position:absolute;
}

.help-text{
	margin: 16px;
	padding:16px;
	border-radius: 6px;
	font-size: 14px;
	color: white;
	background-color: #1677ff;
}