.characters {
    display: flex;
    margin: 16px;
    width: 100%;
    padding-inline: 34px;
    padding-block: 24px;
    border-radius: 20px;
    &.dark{
        background: var(--color-theme-color-grey0);

    }
    &.light{
        background: var(--color-neutral-color-pure-white);
    }
}

.characters-container {
    display: flex;
    width: 945px;
}

.character {
    width: 125px;
    height: 160px;
    margin: 5px;
}

.include-characters {
    width: 125px;
    height: 160px;
    background-color: var(--color-theme-color-grey0);
    font-size: 72px;
    text-align: center;
    color: white;
}
