.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #00001b;
}

.body {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    margin-top: 16px;
    color: #fff;
    text-align: center;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-form {
    width: 33%;
    flex-grow: 1;
    padding: 16px;
    background-color: #fff;
	border-radius: 6px;
}

.signup-text {
    width: 33%;
    flex-grow: 1;
    color: #fff;
    text-align: center;
    text-wrap: balance;
}

.footer-text {
    color: #fff;
    text-align: center;
}
