.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url("../../public/bg.png");
}

.body {
    box-shadow: 0 0 7px 1px rgba(0,0,0,.1);
    background-color: white;
    color:black;
    position: relative;
    padding: 8px;
}

.menu {
    margin-bottom: 16px;
}

.section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.logo-image{
    max-width: 500px;
    height: auto;
    @media screen and (max-width: 850px) {
        display: none;
    }
}

.tabs{
    height: 100%;
    width: 50%;
    max-width: 500px;
    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

.news-list {
    width: 50%;
    max-width: 500px;
    @media screen and (max-width: 850px) {
        width: 100%;
    }
    margin-block:auto;
}

.intro-text {
    height: 100%;
    width: 50%;
    max-width: 500px;
    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

.body-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
    //background-color: #00001b;
}

.title {
    margin-top: 16px;
    color: black;
    text-align: center;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1100px) {
        flex-direction: column;
    }
}

.form-container {
    padding: 16px;
    border-radius: 6px;

}

.signup-text {
    padding: 16px;
    color: black;
    text-align: center;
    text-wrap: balance;
    @media screen and (max-width: 1100px) {
        height: auto;
    }
}

.text-container {
    width: 33%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1100px) {
        width: auto;
        height: auto;
    }
}

.footer-text {
    color: black;
    text-align: center;
}

.form-title {
    padding-bottom: 16px;
    text-align: center;
}

.user-container {
    width: 50%;
    max-width: 500px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

.user-option{
    margin-bottom: 8px;
}

.access-list{
    margin-block:auto;
}

.internal-page{
    max-width: 1300px;
    margin: 0 auto;
}

.status {
    display: flex;
    align-items: center;
}

.status-indicator {
    border-radius: 9000px;
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    position: relative;

    &.active{
        background-color: #00db84;
    }

    &.inactive{
        background-color: #ff0000;
    }
}

.status-text {
    margin-left: 6px;
}