.breadcrumb {
	margin: 16px 16px;
}

.container {
	min-height: 100vh;
}

.header {
	padding: 0;
}

.container-toolkit {
	display: flex;
	flex-wrap: wrap;
}

.help-text{
	margin: 16px;
	padding:16px;
	border-radius: 6px;
	font-size: 14px;
	color: white;
	background-color: #1677ff;
}

.hiper-link{
	color: inherit;
}