.background-container {
    margin: 16px;
    width: 100%;
    padding-inline: 34px;
    padding-block: 24px;
    border-radius: 20px;
    &.dark {
        background: var(--color-theme-color-grey0);
    }
    &.light {
        background: var(--color-neutral-color-pure-white);
    }
}

.background {
    width: 920px;
    height: 837px;
}
