.question{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.question-title{
    white-space: wrap;
    text-wrap: pretty;
}

.question-details{
    margin-bottom: 16px;

}

.button-container{
    display: flex;
    justify-content: space-between;
}

.next-buttons{
    display: flex;
    column-gap: 8px;
}