.votes-pie {
    width: 400px;
    height: 400px;
}

.bdo-class-title{
    margin-block: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subtitle{
    font-weight: normal;
    margin: 0;
}

.bdo-class-list {
    padding: 0;
    width: 1278px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    &.on {
        & .bdo-class {
            opacity: 1;
            transform: translate3d(0, 0, 1px);
        }
    }
}

.bdo-class {
    position: relative;
    width: calc(100% / 5);
    height: 346px;
    padding: 0 9px 18px;
    transform: translate3d(0, 20%, 0);
    transition:
        opacity 0.8s ease-in,
        transform 0.8s;
    opacity: 0;
    &:hover{
        padding: 0 6px 16px;
        & .bdo-class-name{
            color: #e7bc5c;
        }
    }
}

.class-wrap {
    cursor: pointer;
    position: relative;
    display: flex;
    width: 100%;
    height: 0;
    padding-bottom: 138.55%;
    box-shadow: 0 1px 5px #00000099;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    transform: rotate3d(0, 10px, 10px);
    transition: filter .2s ease, transform .3s ease-out, box-shadow 0.3s ease-out;
    outline: none;
    will-change: transform;
}

.bdo-class-name {
    position: absolute;
    z-index: 2;
    width: calc(100% - 18px);
    text-align: center;
    bottom: 26px;
    color: white;
    font-size: 18px;
}

.bdo-class-image {
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 2px);
    height: 100%;
    background: url(../../../../public/assets/classes_spr.jpg) no-repeat;
    background-size: 1000% auto;
    transform: translate3d(0, 0, 1px);

    &.archer {
        background-position: calc((100% / 9) * 6) calc((100% / 2) * 1);
    }

    &.berserker {
        background-position: calc((100% / 9) * 3) 0;
    }

    &.corsair {
        background-position: calc((100% / 9) * 2) calc((100% / 2) * 2);
    }

    &.dark-knight {
        background-position: calc((100% / 9) * 2) calc((100% / 2) * 1);
    }

    &.drakania {
        background-position: calc((100% / 9) * 3) calc((100% / 2) * 2);
    }

    &.guardian {
        background-position: calc((100% / 9) * 8) calc((100% / 2) * 1);
    }

    &.hashashin {
        background-position: calc((100% / 9) * 9) calc((100% / 2) * 1);
    }

    &.kunoichi {
        background-position: calc((100% / 9) * 8) 0;
    }

    &.lahn {
        background-position: calc((100% / 9)* 5) calc((100% / 2)* 1);
    }

    &.maehwa {
        background-position: calc((100% / 9)* 6) 0;
    }

    &.musa {
        background-position: calc((100% / 9)* 5) 0;
    }

    &.mystic {
        background-position: calc((100% / 9)* 4) calc((100% / 2)* 1);
    }

    &.ninja {
        background-position: calc((100% / 9)* 9) 0;
    }

    &.nova {
        background-position: calc((100% / 9)* 0) calc((100% / 2)* 2);
    }

    &.ranger {
        background-position: calc((100% / 9)* 1) 0;
    }

    &.sage {
        background-position: calc((100% / 9)* 1) calc((100% / 2)* 2);
    }

    &.shai {
        background-position: calc((100% / 9)* 7) calc((100% / 2)* 1);
    }

    &.sorceress {
        background-position: calc((100% / 9) * 2) 0;
    }

    &.striker {
        background-position: calc((100% / 9)* 3) calc((100% / 2)* 1);
    }

    &.tamer {
        background-position: calc((100% / 9)* 4) 0;
    }

    &.valkyrie {
        background-position: calc((100% / 9)* 7) 0;
    }

    &.warrior {
        background-position: 0 0;
    }

    &.witch {
        background-position: calc((100% / 9) * 1) calc((100% / 2) * 1);
    }

    &.wizard {
        background-position: calc((100% / 9)* 0) calc((100% / 2)* 1);
    }

    &.woosa {
        background-position: calc((100% / 9)* 4) calc((100% / 2)* 2);
    }

    &.maegu {
        background-position: calc((100% / 9)* 5) calc((100% / 2)* 2);
    }

    &.scholar {
        background-position: calc((100% / 9)* 6) calc((100% / 2)* 2);
    }

    &.dosa {
        background-position: calc((100% / 9)* 7) calc((100% / 2)* 2);
    }
}

.awakening{
    min-height: 920px;
    background-size: cover;

    &.archer {
        background: url(../../../../public/assets/awakening_archer.jpg) no-repeat;
    }

    &.berserker {
        background: url(../../../../public/assets/awakening_berserker.jpg) no-repeat;

    }

    &.corsair {
        background: url(../../../../public/assets/awakening_corsair.jpg) no-repeat;
    }

    &.dark-knight {
        background: url(../../../../public/assets/awakening_dark_knight.jpg) no-repeat;
    }

    &.drakania {
        background: url(../../../../public/assets/awakening_drakania.jpg) no-repeat;
    }

    &.guardian {
        background: url(../../../../public/assets/awakening_guardian.jpg) no-repeat;
    }

    &.hashashin {
        background: url(../../../../public/assets/awakening_hashashin.jpg) no-repeat;
    }

    &.kunoichi {
        background: url(../../../../public/assets/awakening_kunoichi.jpg) no-repeat;
    }

    &.lahn {
        background: url(../../../../public/assets/awakening_lahn.jpg) no-repeat;
    }

    &.maehwa {
        background: url(../../../../public/assets/awakening_maehwa.jpg) no-repeat;
    }

    &.musa {
        background: url(../../../../public/assets/awakening_musa.jpg) no-repeat;
    }

    &.mystic {
        background: url(../../../../public/assets/awakening_mystic.jpg) no-repeat;
    }

    &.ninja {
        background: url(../../../../public/assets/awakening_ninja.jpg) no-repeat;
    }

    &.nova {
        background: url(../../../../public/assets/awakening_nova.jpg) no-repeat;
    }

    &.ranger {
        background: url(../../../../public/assets/awakening_ranger.jpg) no-repeat;
    }

    &.sage {
        background: url(../../../../public/assets/awakening_sage.jpg) no-repeat;
    }

    &.shai {
        background: url(../../../../public/assets/awakening_shai.jpg) no-repeat;
    }

    &.sorceress {
        background: url(../../../../public/assets/awakening_sorceress.jpg) no-repeat;
    }

    &.striker {
        background: url(../../../../public/assets/awakening_striker.jpg) no-repeat;
    }

    &.tamer {
        background: url(../../../../public/assets/awakening_tamer.jpg) no-repeat;
    }

    &.valkyrie {
        background: url(../../../../public/assets/awakening_valkyrie.jpg) no-repeat;
    }

    &.warrior {
        background: url(../../../../public/assets/awakening_warrior.jpg) no-repeat;
    }

    &.witch {
        background: url(../../../../public/assets/awakening_witch.jpg) no-repeat;

    }

    &.wizard {
        background: url(../../../../public/assets/awakening_wizard.jpg) no-repeat;
    }

    &.woosa {
        background: url(../../../../public/assets/awakening_woosa.jpg) no-repeat;
    }

    &.maegu {
        background: url(../../../../public/assets/awakening_maegu.jpg) no-repeat;
    }

    &.scholar {
        background: url(../../../../public/assets/awakening_scholar.jpg) no-repeat;
    }

    &.dosa {
        display: none;
    }


}


.succession{
    min-height: 920px;
    background-size: cover;
    &.archer {
       display: none;
    }

    &.berserker {
        background: url(../../../../public/assets/succession_berserker.jpg) no-repeat;

    }

    &.corsair {
        background: url(../../../../public/assets/succession_corsair.jpg) no-repeat;
    }

    &.dark-knight {
        background: url(../../../../public/assets/succession_dark_knight.jpg) no-repeat;
    }

    &.drakania {
        background: url(../../../../public/assets/succession_drakania.jpg) no-repeat;
    }

    &.guardian {
        background: url(../../../../public/assets/succession_guardian.jpg) no-repeat;
    }

    &.hashashin {
        background: url(../../../../public/assets/succession_hashashin.jpg) no-repeat;
    }

    &.kunoichi {
        background: url(../../../../public/assets/succession_kunoichi.jpg) no-repeat;
    }

    &.lahn {
        background: url(../../../../public/assets/succession_lahn.jpg) no-repeat;
    }

    &.maehwa {
        background: url(../../../../public/assets/succession_maehwa.jpg) no-repeat;
    }

    &.musa {
        background: url(../../../../public/assets/succession_musa.jpg) no-repeat;
    }

    &.mystic {
        background: url(../../../../public/assets/succession_mystic.jpg) no-repeat;
    }

    &.ninja {
        background: url(../../../../public/assets/succession_ninja.jpg) no-repeat;
    }

    &.nova {
        background: url(../../../../public/assets/succession_nova.jpg) no-repeat;
    }

    &.ranger {
        background: url(../../../../public/assets/succession_ranger.jpg) no-repeat;
    }

    &.sage {
        background: url(../../../../public/assets/succession_sage.jpg) no-repeat;
    }

    &.shai {
        display: none;
    }

    &.sorceress {
        background: url(../../../../public/assets/succession_sorceress.jpg) no-repeat;
    }

    &.striker {
        background: url(../../../../public/assets/succession_striker.jpg) no-repeat;
    }

    &.tamer {
        background: url(../../../../public/assets/succession_tamer.jpg) no-repeat;
    }

    &.valkyrie {
        background: url(../../../../public/assets/succession_valkyrie.jpg) no-repeat;
    }

    &.warrior {
        background: url(../../../../public/assets/succession_warrior.jpg) no-repeat;
    }

    &.witch {
        background: url(../../../../public/assets/succession_witch.jpg) no-repeat;

    }

    &.wizard {
        background: url(../../../../public/assets/succession_wizard.jpg) no-repeat;
    }

    &.woosa {
        background: url(../../../../public/assets/succession_woosa.jpg) no-repeat;
    }

    &.maegu {
        background: url(../../../../public/assets/succession_maegu.jpg) no-repeat;
    }

    &.scholar {
        display: none;
    }

    &.dosa {
        background: url(../../../../public/assets/succession_dosa.jpg) no-repeat;
    }
}

