.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.logo-image {
    max-width: 500px;
    height: auto;
    margin-bottom: 32px;
    @media screen and (max-width: 850px) {
        display: none;
    }
    &.dark {
        filter: drop-shadow(0 0 0.75rem var(--color-neutral-color-grey1));
    }
    &.light {
        filter: drop-shadow(0 0 0.75rem var(--color-neutral-color-grey5));
    }
}

.form-wrapper {
    width: 100%;
    max-width: 400px;
}
