html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #00001b;
	opacity: 0.9;
	background-image: linear-gradient(
			30deg,
			#060635 12%,
			transparent 12.5%,
			transparent 87%,
			#060635 87.5%,
			#060635
		),
		linear-gradient(
			150deg,
			#060635 12%,
			transparent 12.5%,
			transparent 87%,
			#060635 87.5%,
			#060635
		),
		linear-gradient(
			30deg,
			#060635 12%,
			transparent 12.5%,
			transparent 87%,
			#060635 87.5%,
			#060635
		),
		linear-gradient(
			150deg,
			#060635 12%,
			transparent 12.5%,
			transparent 87%,
			#060635 87.5%,
			#060635
		),
		linear-gradient(
			60deg,
			#06063577 25%,
			transparent 25.5%,
			transparent 75%,
			#06063577 75%,
			#06063577
		),
		linear-gradient(
			60deg,
			#06063577 25%,
			transparent 25.5%,
			transparent 75%,
			#06063577 75%,
			#06063577
		);
	background-size: 48px 84px;
	background-position: 0 0, 0 0, 24px 42px, 24px 42px, 0 0, 24px 42px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
